<h1><%= @author.name %></h1>

<p>Books: <% @author.books.each do |book| %>
  --<%= book.title  %>
  Pages: <%= book.pages %>--
  Highest review:
  User: <%= book.best_review.user.username %>
  Rating(out of 5)<%= book.best_review.rating %>
  Title: <%= book.best_review.title %>
<% end %></p>
