<h1>All Books</h1>

<h3>Sort Books</h3>
<a id="worst_rated" href="/books?sorting=rating&direction=DESC">Sort by Best Rated</a>
<a id="best_rated" href="/books?sorting=rating&direction=ASC">Sort by Worst Rated</a>
<a id="least_pages" href="/books?sorting=pages&direction=DESC">Sort by Most Pages</a>
<a id="most_pages" href="/books?sorting=pages&direction=ASC">Sort by Least Pages</a>
<a id="least_reviews" href="/books?sorting=reviews&direction=DESC">Sort by Most Reviews</a>
<a id="most_reviews" href="/books?sorting=reviews&direction=ASC">Sort by Least Reviews</a>

<form action="/books/new" method="get"><input type="submit" value="New book"></form>

<div class="stats">
  <h4>Highest Rated Books</h4>
    <% @top_books.each do |book| %>
      <%= book.title %>,
    <% end %>
  <h4>Lowest Rated Books</h4>
  <% @bottom_books.each do |book| %>
    <%= book.title %>,
  <% end %>
  <h4>Users With Most Reviews</h4>
    <% @top_users.each do |user| %>
      <%= user.username %>,
    <% end %>
  <h4>User With Least Reviews</h4>
  <% @bottom_users.each do |user| %>
    <%= user.username %>,
  <% end %>
</div>

<% @books.each do |book|%>
  <a href="/books/<%= book.id %>"><%= book.title %></a>
  <p>Author: <% book.authors.each do |author| %>
    <%= author.name  %>
  <% end %></p>
  <p>Pages: <%= book.pages %></p>
  <p>Year: <%= book.year %></p>
  <p>Average Rating: <%= book.average_rating %></p>
  <p>Total Number of Reviews: <%= book.reviews.count %></p>
<% end %>
