<h1>All Books</h1>

<% @books.each do |book|%>
<h2><%= book.title %></h2>
<p>Author: <% book.authors.each do |author| %>
  <%= author.name  %>
<% end %></p>
<p>Pages: <%= book.pages %></p>
<p>Year: <%= book.year %></p>
<p>Average Rating: <%= book.average_rating %></p>
<p>Total Number of Reviews: <%= book.reviews.count %></p>
<% end %>
