<h1><%= @book.title %></h1>

<form action="/books/<%= @book.id %>/reviews/new" method="get"><input type="submit" value="Add Review"></form>
<%= link_to 'Delete', book_path(@book), method: :delete%>

<div class="stats">
  <h3>Stats</h3>
  <p>Average Rating: <%= @book.average_rating %></p>
  <div class="positive_reviews">
    <% @top_reviews.each do |review| %>
      <%= review.title %>
      <%= review.rating %>
      <%= review.user.username %>
    <% end %>
  </div>
  <div class="negative_reviews">
    <% @bottom_reviews.each do |review| %>
      <%= review.title %>
      <%= review.rating %>
      <%= review.user.username %>
    <% end %>
  </div>


</div>

<p>Author: <% @book.authors.each do |author| %>
  <%= author.name  %>
<% end %></p>
<p>Pages: <%= @book.pages %></p>
<p>Year Published: <%= @book.year %></p>
<h2>Reviews</h2>
<% @reviews.each do |review| %>
<p>Title: <%= review.title %> </p>
<p>Username: <%= review.username %> </p>
<p> <%= review.body %> </p>
<p>Rating (out of 5): <%= review.rating %> </p>
<% end %>
